<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TestApp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/test-app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <style>
      .loader {
        display: inline-block;
        width: 64px;
        height: 64px;
        background: url(/assets/loader.gif);
      }
      </style>

    {{content-for "head-footer"}}
  </head>
  <body>
    <div>
      <span style="width: 0px; height: 0px;" class="loader" aria-hidden="true"></span>
   </div>
    {{content-for "body"}}

    <script src="assets/vendor.js"></script>
    <script src="assets/test-app.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
