<div class="page-header col-sm-offset-1">
    <h1>List of cars</h1>      
  </div>

<div>
    <ul class="list-group col-sm-offset-1">
        {{#each model as |vehicle|}}
        <li class="list-group-item">
            Brand: {{vehicle.mark}}, location: {{vehicle.place}}
        </li>
        {{/each}}
    </ul>
</div>
{{outlet}}
